<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Full Insane Travel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>
<br>
<div class="container">
<ul>
  <% if user_signed_in? %>
      <h2>Bienvenue, <%= current_user.username %></h2>
    <li>


        <ul>
          <li>
            <%= link_to 'Articles', controller: 'articles' %>
          </li>

          <li>
          <%= link_to edit_user_registration_path do %>
             Modifier le profil
          <% end %>
          </li>


        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
             Déconnexion
          <% end %>
        </li>
      </ul>
    </li>
</div>

  <% else %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Full Insane Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Articles', controller: 'articles' %></a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <li>
      <p>Bienvenue ! </p>
      </br>
      <li>
        <%= link_to 'Articles', controller: 'articles' %>
      </li>
    </li>
    </br>
  	<li>
      <%= link_to("Connexion", new_user_session_path) %>
    </li>
  	<li>
      <%= link_to("Inscription", new_user_registration_path) %>
    </li>
  <% end %>
</ul>
